:root{
  --titleBarHeight:30px;

  --primaryBackgroundColor: #2e3a62;
  --primaryBackgroundColorHover: #334789;
  --primaryBackgroundColorActive: #2a459b;
  --contentBackgroundColor: #ffffff;
  --primaryTextColor: #74bcd4;
  --primaryTextColorHover: #4fb8db;
  --primaryTextColorActive: #1e9fca;
  --primaryTextColorHover: #74bcd4;
  --contentTextColor: #3e3e3e;
  --primaryBorderColor: #52b5f9;
  --contentBorderColor: #9b9b9b;
  --contentTextColorActive: #bebebe;
  --contentTextColorHover: #c4c4c4;


  --menuBackgroundColor: var(--contentBackgroundColor);
  --menuShadowColor: #b8b8b8;
  --menuBorderColor: #dfdfdf;
  --menuBackgroundColorHover: #e8e8e9b7;
  --menuBackgroundColorGlass: rgba(238, 238, 238, 0.8);

  --notSavedColor:rgb(66, 212, 21);

  --editorEchoTextColor: #b8b8b8;
  --editorHighlightBackgroundColor: #f1f3f5;

  --fontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  --sidebarWidth: 220px;

}

:root.dark{
  --menuBackgroundColor: var(--contentBackgroundColor);
  --menuShadowColor: #6b6b6b;
  --menuBorderColor: #5c5c5c;
  --menuBackgroundColorHover: #474747b7;
  --menuBackgroundColorGlass: rgba(70, 70, 70, 0.8);
  --menuTextColor: #c2c2c2;
}

body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--contentBackgroundColor);
  color: var(--contentTextColor);
}

#app{
  height: calc(100vh);
  margin-top: calc(0px - var(--titleBarHeight));
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.editor-container{
  overflow: hidden;
}

.marknote-titlbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: var(--titleBarHeight);
  z-index: 99990;
}


.el-tree{
  background-color: transparent;
}

.marknote.min-height{
  min-height: calc(100vh - var(--titleBarHeight));
}

.el-loading-mask{
  --el-mask-color: var(--contentBackgroundColor);
  /* --el-mask-color: rgba(255, 255, 255, 0); */
}