:root{
  --titleBarHeight:30px;

  --primaryBackgroundColor: #2e3a62;
  --primaryBackgroundColorHover: #30364a;
  --primaryBackgroundColorActive: #1f294a;
  --contentBackgroundColor: #ffffff;
  --primaryTextColor: #74bcd4;
  --primaryTextColorHover: #4fb8db;
  --primaryTextColorActive: #1e9fca;
  --primaryTextColorHover: #74bcd4;
  --contentTextColor: #3e3e3e;
  --primaryBorderColor: #52b5f9;


  --menuBackgroundColor: var(--contentBackgroundColor);
  --menuShadowColor: #b8b8b8;
  --menuBorderColor: #dfdfdf;
  --menuBackgroundColorHover: #e8e8e9b7;
  --menuBackgroundColorGlass: rgba(238, 238, 238, 0.8);

  --notSavedColor:rgb(66, 212, 21);
}

body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--contentBackgroundColor);
  color: var(--contentTextColor);
}

#app{
  height: calc(100vh);
  margin-top: calc(0px - var(--titleBarHeight));
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.editor-container{
  overflow: hidden;
}

.marknote-titlbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: var(--titleBarHeight);
  z-index: 990;
}


.el-tree{
  background-color: transparent;
}