.marknote {
    outline: none;
    // margin: 1rem 0;
    padding: 1rem 4rem;
    >*+* {
        margin-top: 0.75em;
    }

    ul,
    ol {
        padding: 0 1rem;
    }
    ul{
        margin-left: .3em;
        
    }
    ol{
        margin-left: 0.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #f6f8fa;
        color: #202328;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        position: relative;
        .codeblock-copy{
            position: absolute;
            // width: 1rem;
            // height: 1rem;
            right: 0;
            top: 0;
            cursor: pointer;
            svg{
                stroke: #616161;
                path{
                    stroke: #616161;
                }
            }
            &:hover{
                svg{
                    stroke: #00c4ff;
                    path{
                        stroke: #00c4ff;
                    }
                }
            }
        }

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
            
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        margin: 0;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
        background-color: #f6f8fa;
        border-top-right-radius: 0.5rem; 
        border-bottom-right-radius: 0.5rem;
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }
    // .tableWrapper>.scrollWrapper{
    //     width: 100%;
    //     overflow-x: auto;
    //     overflow-y: hidden;
    // }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        --gripWidth: 8px;
        --gripColor: #ced4da;
        --gripColorActive: #0375fb;
        .grip-table,.grip-row,.grip-column{
            display: inline-block;
            position: absolute;
            cursor: pointer;
            &.selected{
                background-color: var(--gripColorActive);
            }
        }
        .grip-table{
            top: calc(0px - (var(--gripWidth) + 2px));
            left:  calc(0px - (var(--gripWidth) + 2px));
            width: var(--gripWidth);
            height: var(--gripWidth);
            background-color: var(--gripColor);
        }
        .grip-row{
            top: 0;
            left: calc(0px - (var(--gripWidth) + 2px));
            width: var(--gripWidth);
            height: 100%;
            background-color:var(--gripColor);
            &.first{
                top: 2px;
                height: calc(100% - var(--gripWidth) / 2);
            }
        }
        .grip-column{
            top: calc(0px - (var(--gripWidth) + 2px));
            left: 0;
            width: 100%;
            height: var(--gripWidth);
            background-color: var(--gripColor);
            &.first{
                left: 2px;
                width: calc(100% - var(--gripWidth) / 2);
            }
        }

        td,
        th {
            min-width: 1em;
            border: 1px solid #ced4da;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
            background-color: #f1f3f5;
        }

        .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
        }

        .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
        }

        p {
            margin: 0;
        }
    }

    ul[data-type="taskList"] {
        list-style: none;
        padding: 0;
        padding-left: .2rem;
        margin: 0;
        --bgColor:#0375FB;
        --borderColor: #fff;
        p {
            margin: 0;
        }

        li {
            display: flex;
            padding: 0.2em 0;
            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
                cursor: pointer;
                position: relative;
                width: 14px;
                height: 14px;
                border: 2px solid var(--bgColor);
                // border-radius: 50%;
                input[type="checkbox"]{
                    opacity: 0;
                    &:checked+span{
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: var(--bgColor);
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 5px;
                            height: 10px;
                            border-top: 2px solid var(--borderColor);
                            border-left: 2px solid var(--borderColor);
                            background-color: var(--bgColor);
                            transform: rotate(230deg);
                            position: absolute;
                            left: 3px;
                            top: -1px;
                        }
                    }
                }
            }

            >div {
                flex: 1 1 auto;
            }

            ul li,
            ol li {
                display: list-item;
            }

            ul[data-type="taskList"]>li {
                display: flex;
                
            }
        }
    }
    

}

.table-cell-tooltip{
    // position: fixed;
    // top: var(--tooltipTop);
    // left: var(--tooltipLeft);
    
    display: flex;
    flex-direction: column;
    &>div,button{
        cursor: pointer;
        pointer-events: all; 
        &:hover{
            background-color: #868b92;
        }
    }
}