.marknote-menus {
  --menuShadowColor:var(--menuShadowColor);
  position: absolute;;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --menu2Top:-4px;
  --borderRadius: 4px;
  .marknote-menu-mask {
    width: 100%;
    height: 100%;
    z-index: 990;
    position: absolute;
  }

  .menus {
    font-size: 14px;
    top: 20px;
    left: var(--titleBarHeight);
    width: 100px;
    position: absolute;
    z-index: 998;
    background-color: var(--menuBackgroundColor, #fff);
    color: var(--menuColor,#202124);
    // box-shadow: 2px 2px 13px var(--menuShadowColor,#b8b8b8);
    border: 1px solid var(--menuShadowColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--menuBorderColor);
    .menu-title{
      user-select: none;
      --webkit-user-select: none;
    }

    &.right-menu{
      left: auto;
      right: var(--titleBarHeight);
    }

    .menu-item {
      user-select:none;
      .menu-content {
        padding: .2rem .4rem .2rem .6rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
        &:hover {
          background-color: var(--menuBackgroundColorHover, #e8e8e9);
        }
      }

      
      &.split{
        border-bottom: 1px solid var(--menuBorderColor,#dfdfdf);
      }
    }

    .menus2 {
      position: absolute;
      top: var(--menu2Top);
      left: 100px;
      width: 250px;
      margin-top: .4rem;
      background-color: var(--menuBackgroundColor, #fff);
      // box-shadow: 2px 2px 13px var(--menuShadowColor,#b8b8b8);
      border: 1px solid var(--menuShadowColor);
      border-radius: var(--borderRadius);
      border: 1px solid var(--menuBorderColor);
      z-index: 999;
      &.right-menu{
        left: auto;
        right: 100px;
      }

      .menu-content {
        padding: .2rem .6rem;
        display: flex;

        &:hover {
          background-color: var(--menuBackgroundColorHover, #e8e8e9);
        }
        


        &>label.menu-checkbox {
          width: 30px;
          input{
            visible:false;
            &:checked{
              visible:true;
            }
          }
          
        }

        &>label.menu-title {
          width: 100px;
        }

        &>span {
          flex: 1;
          color: #ccc;
          text-align: right;
        }
        &>i{
          width: 20px;
          text-align: right;
        }
      }

      .menus3{
        position: absolute;
        top: var(--menu3Top);
        left: 250px;
        width: 200px;
        margin-top: .4rem;
        background-color: var(--menuBackgroundColor, #fff);
        // box-shadow: 2px 2px 13px var(--menuShadowColor,#b8b8b8);
        border-radius: var(--borderRadius);
        border: 1px solid var(--menuBorderColor);
        z-index: 1000;
      }

    }
  }
}